<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

    <description>
      Dynamide Servlet.
    </description>
    <display-name>Dynamide Servlet</display-name>

    <servlet>
      <servlet-name>DynamideServlet</servlet-name>
      <servlet-class>com.dynamide.DynamideServlet</servlet-class>
       <init-param>
            <param-name>DYNAMIDE_RESOURCE_ROOT</param-name>
            <param-value>${DYNAMIDE_HOME}/build/resource_root</param-value>
      </init-param>
      <init-param>
            <param-name>DYNAMIDE_STATIC_ROOT</param-name>
            <param-value>${DYNAMIDE_HOME}/build/resource_root/static</param-value>
      </init-param>
      <init-param>
            <param-name>DYNAMIDE_CONTEXT_CONF</param-name>
            <param-value>${DYNAMIDE_HOME}/build/resource_root/conf/context.xml</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DynamideServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Dynamide Admin</web-resource-name>
			<url-pattern>/dynamide/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dynamide-admin</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Anarchia Author</web-resource-name>
			<url-pattern>/anarchia-author/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>anarchia-author</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Dynamide Public</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>HEAD</http-method>
		</web-resource-collection>
	</security-constraint>

	<login-config>
	    <auth-method>FORM</auth-method>
		<form-login-config>
			<!--form-login-page>/login/login.jsp</form-login-page-->
			<form-login-page>/login</form-login-page>
			<form-error-page>/login/loginfailed</form-error-page>
		</form-login-config>
	</login-config>
   
	
    <security-role>
        <description>
          Admins.
        </description>
        <role-name>dynamide-admin</role-name>
    </security-role>
    <security-role>
        <description>
          Public users.
        </description>
        <role-name>dynamide-user</role-name>
    </security-role>
    <security-role>
        <description>
          Anarchia author.
        </description>
        <role-name>anarchia-author</role-name>
    </security-role>
    
    <!-- Laramie adding CORS filter locally, because it is already working on tomcat6 on dev.tagland.org -->
    <!-- This was in tomcat7.dm/conf/web.xml 
         TODO: test this.
    -->
    <filter>
      <filter-name>CorsFilter</filter-name>
      <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
      <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>*</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
